FLASK_PORT=5000

DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_USER_ID=
DOCUSIGN_AUTH_URL=https://account.docusign.com
DOCUSIGN_CONSENT_REDIRECT_URI=
DOCUSIGN_HMAC_SECRET=
DOCUSIGN_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpA......9Mg==
-----END RSA PRIVATE KEY-----"

GOOGLE_CLIENT_ID=           # https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=       # https://developers.google.com/oauthplayground