FLASK_PORT=5000

DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_USER_ID=
DOCUSIGN_AUTH_URL=https://account.docusign.com
DOCUSIGN_CONSENT_REDIRECT_URI=
DOCUSIGN_HMAC_SECRET=
DOCUSIGN_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpA......9Mg==
-----END RSA PRIVATE KEY-----"

GOOGLE_CLIENT_ID=           # https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=       # https://developers.google.com/oauthplayground
GOOGLE_SPREADSHEET_ID=      # Spreadsheet ID from the sheet URL (docs.google.com/spreadsheets/d/<ID>)
GOOGLE_SPREADSHEET_TAB_NAME=
TEMPLATES_GOOGLE_DRIVE_URL=  # Google Drive folder URL containing contract templates (drive.google.com/drive/folders/<ID>)

OPENAI_API_KEY=              # OpenAI API key (platform.openai.com/api-keys)
OPENAI_MODEL=                # OpenAI model name (eg. gpt-4o)
